<ion-view view-title="facilité">
  <ion-content class="home2">
  <div class="logod">
  <img src="img/logo.png">
</div>
 <div class="time">
          <img src="img/chef.png">
  </div>
         
            <h1 class="dure">Difficulté</h1>

            <div class="row">
            	<div class="col-md-3">
            	</div>
            	<div class="col-md-3 etoile">
            		<img src="img/etoile1.png">
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>
              <div class="row">
            	<div class="col-md-3 ">
            	</div>
            	<div class="col-md-3 etoile2">
            		<img src="img/etoile2.png">
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>
              <div class="row">
            	<div class="col-md-3">
            	</div>
            	<div class="col-md-3 etoile3">
            		<img src="img/etoile3.png">
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>

             <div class="suivant">
      <a href="#/tab/chats"><img src="img/suivant.png"></a>
      </div>




    
  </ion-content>
</ion-view>
