<ion-view view-title="Gready">

  <ion-content class="prehome">

  

  
   
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-4 logo">
        <img src="img/logo.png">
         <h1 class="slogan">  " Les desserts de l 'expert "</h1>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="myButton">connexion</a>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <a href="#" class="myButton">Inscription</a>

      </div>
    </div>

    <a href="#/tab/home" class="myButton2">Entrer</a>

     

    
   

    

    
    
  </ion-content>

</ion-view>
