<ion-view >


  <ion-content class="home2">
<div class="logod">
  <img src="img/logo.png">
</div>


     
        <div class=" chef">
          <img src="img/chef1.png">
        </div>
        
            <h1 class="ingre">Ingredients</h1>
        

      
  
      


  		<div class="row">
        <div class="col-md-4">
        </div>
  			<div class="col-md-3">
  				<div id="moncercle1"><img src="img/drink.png"></div>
  			</div>
  			<div class="col-md-3">
  				<div id="moncercle2"><img src="img/gluten.png"></div>
  			</div>
  			
  		</div>
  		<div class="row">
        <div class="col-md-4">
        </div>
  			<div class="col-md-3">
  				<div id="moncercle3"><img src="img/chocolat.png"></div>
  			</div>
  			<div class="col-md-3">
  				<div id="moncercle4"><img src="img/lait.png"></div>
  			</div>
  		
  		</div>

  		<div class="row">
        <div class="col-md-4">
        </div>
  			<div class="col-md-3">
  				<div id="moncercle5"><img src="img/oeuf.png"></div>
  			</div>
  			<div class="col-md-3">
  				<div id="moncercle6"><img src="img/fruit.png"></div>
  			</div>
  			
  		</div>
      <div class="suivant">
      <a href="#/tab/account"><img src="img/suivant.png"></a>
      </div>

  		 

  
   
  </ion-content>
</ion-view>