<ion-view view-title="temps">
  <ion-content class="home2">
  <div class="logod">
  <img src="img/logo.png">
</div>
 <div class="time">
          <img src="img/time.png">
  </div>
         
            <h1 class="dure">Durée</h1>

            <div class="row">
            	<div class="col-md-3">
            	</div>
            	<div class="col-md-3">
            		<div id="moncercle0"><p>-20min</p></div>
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>
              <div class="row">
            	<div class="col-md-3">
            	</div>
            	<div class="col-md-3">
            		<div id="moncercle0"><p>-40min</p></div>
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>
              <div class="row">
            	<div class="col-md-3">
            	</div>
            	<div class="col-md-3">
            		<div id="moncercle0"><p>-60min</p></div>
            	</div>
            	<div class="col-md-3">
            	</div>
            </div>

             <div class="suivant">
      <a href="#/tab/chats"><img src="img/suivant.png"></a>
      </div>




    
  </ion-content>
</ion-view>
