<ion-view view-title="Gready">

  <ion-content class="home">


   
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-4 logo">
        <img src="img/logo.png">
         <h1 class="slogan">  " Les desserts de l 'expert "</h1>
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg conect" >Connexion</button>

    <button type="button" class="btn btn-primary btn-lg conect" >Inscription</button>

     <button type="button" class="btn btn-primary btn-lg entrer" ><a href="#/tab/home">Entrer</a></button>
    
  </ion-content>
</ion-view>
